html{
    scroll-behavior: smooth;
}

body {
    background-color: 	#edece7;
}

/* -------Sidebar------- */

#container {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    width: 25%;
    height: 100vh;
}

.aboutMe {
    background-color: #e4e4e4;
    padding-top: 1em;
    height: 100%;
    margin-right: .5em;
    border-right: 1px;
    border-top: 0px;
    border-bottom:0px;
    border-left:0px;
    border-style: solid;
    border-color: #cecdcd;
    overflow-x: hidden; 
    overflow-y: auto; 
}
.picSpace {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.pic {

    border-radius: 50%;
    width: 125px;
    height: auto;
}

.aboutHead{
    text-align: center;
}

.social {
    display: inline;
    text-align: center;
    padding-left: 24%;
}

.logo {
    color: lightgray;
    margin-right: 5px;
    padding: 1px;
    font-size: 14px;
}

/* --------- Main Content ---------- */

.smHead {
    padding-top: 1em;
    text-align: center;
}

.contentHeader{
    padding-top: 1em;
}

.content {
    top: 50px;
}

#right {
    float: right;
}

.elder-child {
    float: left;
}

.younger-child {
    float: right;
    /* margin-right: 15%; */
}

.red-headed-step-child {
    float: left;
}

.to_top {
    height: 50px;
    width: 120px;
    position: fixed;
    right: 45px;
    bottom: 45px;
    padding-top: 10px;
    color: #edece7;
    text-align: center;
}

/* ------- Top Bar and Colors --------- */

.smPic {
    position: fixed;
    top: 5px;
    left: 3%;
    width: 95px;
    height: auto;
    border-radius: 50%;
}

.rectangle {
    position: fixed;
    width: 100%;
    height: 175px;
    top: -70px;
    background-color: #edece7;
    border-bottom: #a1949483;
    border-width: 1px;
    border-style: solid;
}

.headText {
    position: fixed;
    top: 35px;
    left:27%;
}

.sgLogo {
    position: fixed;
    height: 75px;
    width: auto;
    top: 15px;
    left:350px
}

.vbLogo {
    position: fixed;
    height: 40px;
    width: auto;
    top: 55px;
    left: 345px;
}

.rectangle1 {
    height: 25px;
    width: 1000px;
    position: fixed;
    left:850px;
    top:20px;
    transform: rotate(15deg)
} 

.rectangle2 {

    height: 25px;
    width: 1000px;
    position:fixed;
    left:850px;
    top: 45px;
    transform: rotate(15deg)
}

.rectangle3 {

    height: 25px;
    width: 1000px;
    position:fixed;
    top: 70px;
    left:849px;
    transform: rotate(15deg)
}

.rectangle4 {

    height: 25px;
    width: 1200px;
    position:fixed;
    top:69px;
    left:650px;
    transform: rotate(15deg)
} 

.smRectangle1 {
    height: 25px;
    width: 1000px;
    position: fixed;
    right: -130%;
    transform: rotate(15deg)
} 

.smRectangle2 {

    height: 25px;
    width: 1000px;
    position:fixed;
    right: -112%;
    transform: rotate(15deg)
}

.smRectangle3 {

    height: 25px;
    width: 1000px;
    position:fixed;
    right: -96%;
    transform: rotate(15deg)
}

.smRectangle4 {

    height: 25px;
    width: 1200px;
    position:fixed;
    right: -98%;
    transform: rotate(15deg)
} 
