html{
    scroll-behavior: smooth;
}

body {
    background-color: 	#edece7;
}

/* -------Sidebar------- */

#container {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    width: 25%;
    height: 100vh;
}

.aboutMe {
    background-color: #e4e4e4;
    padding-top: 1em;
    height: 100%;
    margin-right: .5em;
    border-right: 1px;
    border-top: 0px;
    border-bottom:0px;
    border-left:0px;
    border-style: solid;
    border-color: #cecdcd;
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align: center;
}
.picSpace {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

.pic {

    border-radius: 50%;
    width: 125px;
    height: auto;
}

.aboutHead{
    text-align: center;
}

.social {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

.logo {
    color: lightgray;
    margin-right: 5px;
    padding: 1px;
    font-size: 14px;
}

/* --------- Main Content ---------- */

.smHead {
    padding-top: 1em;
    text-align: center;
}

.contentHeader{
    padding-top: 1em;
}

.content {
    top: 50px;
}

#right {
    float: right;
}

.twins {
    display: inline-block;
}

.elder-child {
    float: left;
}

.younger-child {
    float: left;
}


.red-headed-step-child {
    float: left;
}

.to_top {
    height: 50px;
    width: 120px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding-top: 10px;
    color: #edece7;
    text-align: center;
}

.carousel-item{
    height: 400px;
    width: 600px;
    margin: auto;
} 
.carousel-item img{
    height: 400px;
    width: 600px;
    margin: auto;
}
.slide {
    width: 600px;
    margin: auto;
}

.carousel-inner img{
    margin: auto;
}
/* ------- Top Bar and Colors --------- */

.smPic {
    position: fixed;
    top: 5px;
    left: 3%;
    width: 95px;
    height: auto;
    border-radius: 50%;
    z-index: 24;
}

#Trade{
    padding-top: 15px;
}

#Wholesale{
    padding-top: 15px;
}

#Monitor{
    padding-top: 15px;
}

.RSrectangle {
    position: fixed;
    width: 100%;
    height: 175px;
    top: -70px;
    z-index: 22;    
    /* background-color: #edece7; */
    border-bottom: lightgrey;
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(to bottom left, 
    #e49e00 28%, #947a7a 28%,#ae6842 28.5%, #ae6842 36%, #555555 36%, #801615 36.5%, #801615 44%,#333333 44%,  #3b3b3b 44.5%, #3b3b3b 52%, #333333 52% , rgb(237, 236, 231) 52.5% ); 
}
.SGrectangle {
    position: fixed;
    width: 100%;
    height: 175px;
    top: -70px;
    z-index: 22;
    /* background-color: #edece7; */
    border-bottom: lightgrey;
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(to bottom left, 
    #CAE0D2 28%,#878787 28%, rgb(173, 153, 104) 28.5%, #ad9968 36%,#878787 36%, #f7c5b7 36.5%, #f7c5b7 44%, #878787 44%,  #49607f 44.5%, rgb(73, 96, 127) 52%, #878787 52% , #edece7 52.5% ); 
}

.carousel-indicators {
    z-index: 20;
}
.VBrectangle {
    position: fixed;
    width: 100%;
    height: 175px;
    top: -70px;
    /* background-color: #edece7; */
    border-bottom: lightgrey;
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(to bottom left, 
    #993D1B 28%,#555555 28%, #D8AB4C 28.5%, #D8AB4C 36%,#555555 36%, #464E21 36.5%, #464E21 44%, #555555 44%,  #333333 44.5%, #333333 52%, #242424 52% , #edece7 52.5% ); 
}

.headText {
    position: fixed;
    top: 35px;
    left:27%;
    z-index: 24;
}

.sgLogo {
    position: fixed;
    height: 75px;
    width: auto;
    top: 18px;
    left:27%;
    z-index: 24;
}

.vbLogo {
    position: fixed;
    height: 45px;
    width: auto;
    top: 55px;
    left: 27%;
}
